{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{template "title" .}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
.navbar {
  background: #6F00AF;
  color: #fff;
}
.navbar a:link {
  color: #fff;
    font-size: 1rem;
}

footer {
  margin-top: 4rem;
  text-align: center;
  color: #999;
  font-size: .8rem;
}
footer a:link {
  color: #666;
}
    </style>

{{block "head" .}}{{end}}

</head>
<body>

<nav class="navbar navbar-header mb-3">
  <div class="container-fluid">
    <span class="navbar-brand">
    <img src="/static/logo.png" alt="" width="55" height="55" class="d-inline-block align-text-middle float-start me-3" >
    What <strong>Legislation</strong> do you <strong>Support</strong>?<br/>
    <a href="https://legislation.support/">
    https://legislation.support/</a>
    </span>
  </div>
</nav>



<div class="container">

  {{ template "middle" .}}

</div>

<footer>
<p>Made in NYC by <a href="https://jehiah.cz/">@jehiah</a>
</footer>


{{ block "javascript" .}}{{end}}

  </body>
</html>
{{end}}
