{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.profile-name {
  border-bottom: 1px solid var(--brand);
}
.legislation-id {
  display: inline-block;
}
.legislation-title {
  display: inline-block;
  /* font-weight: 600; */
}
.legislation-id a:link {
  color: var(--brand-dark);
}
.legislation-id a:visited {
  color: var(--brand-dark-2);
}
.legislation-id a:hover {
  color: var(--brand-medium);
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  border-left: solid 4px var(--grey-light-2);
}
.bookmark.hidden {
  display: none;
}
.sponsor-name {
  font-weight: 600;
}
.member-name {
  font-weight: 400;
}

.sponsor-name a:link {
  color: var(--brand-dark);
}
.sponsor-name a:visited {
  color: var(--brand-dark-2);
}
.sponsor-name a:hover {
  color: var(--brand-medium);
}
.change {
  display: inline-block;
}
.change-date {
  font-weight: 200;
  font-size:.8rem;
}

</style>
{{end}}
{{define "middle"}}


<div class="row">
<h2 class="profile-name">{{.Profile.Name}}</h2>
{{ if .Profile.Description }}
  <div class="profile-description">{{.Profile.Description | markdown}}</div>
{{ end }}
</div>

<div class="bookmarks">

{{if not .Changes }}
<div class="row">
<p>No recent changes</p>
</div>
{{end}}


{{range .Changes}}
  <div class="row bookmark" data-tags="{{Join .Tags "|"}}">
    <div class="row1">

    <div class="legislation-id">
      {{if and .Legislation.SameAs (not .Body.UpperHouse) }}
      <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a> /
      {{end}}
      <a href="{{LegislationLink .BodyID .Legislation.ID}}">{{LegislationDisplayID .BodyID .Legislation.ID}}</a>
      {{if and .Legislation.SameAs (.Body.UpperHouse) }}
      / <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a>
      {{end}}
    </div>


    <div class="change">
      {{if .Withdraw}} Sponsor Withdrawn {{else}} Sponsored {{end}} by 
      <span class="sponsor-name">
      <span class="member-name">{{.Body.MemberName}}</span>
      {{if .SponsorChange.Member.URL }}
        <a href="{{.SponsorChange.Member.URL}}">{{.SponsorChange.Member.FullName}}</a>
      {{else}}
        {{.SponsorChange.Member.FullName}}
      {{end}}
    </span>
    <span class="change-date">{{.Date.Format "Jan 2 2006"}}</span>
    </div>
  </div>
  
  <div class="legislation-title mt-1 d-block">{{.Legislation.Title}}</div>

  {{if .Notes}}
  <div class="notes">{{.Notes}}</div>
  {{end}}
  <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{if .Oppose}}
      <div class="oppose tag">Oppose</div>
      {{end}}
      <div class="body tag" title="{{.Body.Name}}">{{.Body.DisplayID}}</div>
      {{if .Legislation.Session}}
      <div class="session tag" >session:{{.Legislation.Session}}</div>
      {{end}}
      {{range .Tags}}
      <div class="tag">{{.}}</div>
      {{end}}
    </div>
  </div>
{{end}}
</div>


{{end}}

{{define "javascript"}}
<script type="module">
  const qs = new URLSearchParams(window.location.search)
  const tags = new Set(qs.getAll("tag"))
  if (tags.length > 0) {
    Array.from(document.getElementsByClassName("bookmark")).forEach(element => {
    const eTags = (element.dataset.tags ? element.dataset.tags : "").split("|")
    const hasTag = eTags.find(t => tags.has(t))
    element.classList.toggle("hidden", !hasTag)
  });
  }

</script>
{{end}}
