{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.profile-name {
  border-bottom: 1px solid var(--brand);
}
.legislation-title {
  display: inline-block;
  font-weight: 200;
  font-size: .8rem;
  margin-bottom:5px;
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  /* border-left: solid 4px var(--grey-light-2); */
  border-left: solid calc(var(--bs-gutter-x)*.2) var(--grey-light-2);
  padding-left: calc(var(--bs-gutter-x)* .3);
}
.notes p:last-child {
  margin-bottom: 0;
}
.bookmark.hidden {
  display: none;
}
.sponsor-name {
  font-weight: 600;
}
.member-name {
  font-weight: 400;
}

.sponsor-name a:link {
  color: var(--brand-dark);
}
.sponsor-name a:visited {
  color: var(--brand-dark-2);
}
.sponsor-name a:hover {
  color: var(--brand-medium);
}
.change {
  display: inline-block;
}
.change-date {
  font-weight: 600;
  /* font-size:.8rem; */
}
.rss {
  color: var(--brand-dark);
  text-decoration: none;
}

</style>
<link rel="alternate" title="{{.Profile.Name}} Sponsor Changes" type="application/feed+json" href="{{.Profile.FullLink}}/changes.json" />

{{end}}
{{define "middle"}}


<div class="row">
<h2 class="profile-name">{{.Profile.Name}}</h2>

<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{.Profile.Link}}">Legislation</a></li>
    <li class="breadcrumb-item active" aria-current="page">Recent Sponsor Changes</li>
  </ol>
</nav>


{{ if .Profile.Description }}
  <div class="profile-description">{{.Profile.Description | markdown}}</div>
{{ end }}
</div>

<div class="bookmarks">

  <div class="clearfix">

  <div class="float-end">
    <a href="{{.Profile.Link}}/changes.xml" class="rss">Subscribe to RSS Feed <i class="bi bi-rss"></i></a>
  </div>

</div>
{{if not .Changes }}
<div class="row">
<p>No recent changes</p>
</div>
{{end}}


{{range .Changes}}
  <div class="row bookmark" data-tags="{{Join .Tags "|"}}">
    <div class="row1">
      <i class="bi bi-calendar-check me-1"></i>
      <span class="change-date">{{.Date.Format "Jan 2 2006"}}</span>
      <div class="legislation-id">
      {{if and .Legislation.SameAs (not .Body.UpperHouse) }}
      <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a> /
      {{end}}
      <a href="{{LegislationLink .BodyID .Legislation.ID}}">{{LegislationDisplayID .BodyID .Legislation.ID}}</a>
      {{if and .Legislation.SameAs (.Body.UpperHouse) }}
      / <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a>
      {{end}}
    </div>


    <div class="change">
      {{if .Withdraw}} Sponsor Withdrawn {{else}} Sponsored {{end}} by 
      <span class="sponsor-name">
      <span class="member-name">{{.Body.MemberName}}</span>
      {{if .SponsorChange.Member.URL }}
        <a href="{{.SponsorChange.Member.URL}}">{{.SponsorChange.Member.FullName}}</a>
      {{else}}
        {{.SponsorChange.Member.FullName}}
      {{end}}
    </span>
    </div>
  </div>
  
  <div class="legislation-title mt-1 d-block">{{.Legislation.Title}}</div>

  {{if .Notes}}
  <div class="notes">{{.Notes | markdown}}</div>
  {{end}}
  <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{range .DisplayTags}}
      <div class="tag {{.Class}}">{{.Tag}}</div>
      {{end}}
    </div>
  </div>
{{end}}
</div>


{{end}}

{{define "javascript"}}
<script type="module">
  const qs = new URLSearchParams(window.location.search)
  const tags = new Set(qs.getAll("tag"))
  if (tags.length > 0) {
    Array.from(document.getElementsByClassName("bookmark")).forEach(element => {
    const eTags = (element.dataset.tags ? element.dataset.tags : "").split("|")
    const hasTag = eTags.find(t => tags.has(t))
    element.classList.toggle("hidden", !hasTag)
  });
  }

</script>
{{end}}
