{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.profile-name {
  border-bottom: 1px solid var(--brand);
}
.legislation-title {
  display: inline-block;
  font-weight: 600;
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  border-left: solid 4px var(--grey-light-2);
}
.notes p:last-child {
  margin-bottom: 0;
}

.bookmark.hidden {
  display: none;
}
</style>
{{end}}
{{define "middle"}}


<div class="row">
<h2 class="profile-name">{{.Profile.Name}}</h2>

{{ if .Profile.Description }}
  <div class="profile-description">{{.Profile.Description | markdown}}</div>
{{ end }}
</div>

<div class="bookmarks">

{{if (and (not .Bookmarks) (not .ArchivedBookmarks)) }}
<div class="row">
<p>No legislation</p>
</div>
{{end}}


{{if .Bookmarks}}

{{if ge (len .Bookmarks.Bodies) 1}}
<div class="float-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-card-checklist"></i> View Scorecard
    </button>
    <ul class="dropdown-menu">
      {{range .Bookmarks.Bodies}}
      {{with $B := (. | LookupBody)}}
        <li><a class="dropdown-item" href="/{{$.Profile.ID}}/scorecard/{{.ID}}">{{.Name}}</a></li>
      {{end}}
      {{end}}
    </ul>
  </div>
</div>
{{end}}

<div class="float-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-sliders2"></i> Tag Filter
    </button>
    <ul class="dropdown-menu">
      {{range .Bookmarks.DisplayTags}}
        <li><a class="dropdown-item" href="/{{$.Profile.ID}}?tag={{.Tag}}">{{.Tag}}</a></li>
      {{end}}
    </ul>
  </div>
</div>

<div class="row">
  <p>{{if .Bookmarks.CountSupported}}{{.Bookmarks.CountSupported}} supported bills {{end}}
    {{if ne .Bookmarks.CountSupported (len .Bookmarks)}}and{{end}} 
    {{if .Bookmarks.CountOpposed}}{{.Bookmarks.CountOpposed}} opposed bills {{end}}
     in current legislative sessions.</p>
</div>
{{end}}

{{range .Bookmarks}}
  <div class="row bookmark" data-tags="{{JoinTags .DisplayTags}}">
    <div class="row1">

    <div class="legislation-id">
      {{if and .Legislation.SameAs (not .Body.UpperHouse) }}
      <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a> /
      {{end}}
      <a href="{{LegislationLink .BodyID .Legislation.ID}}">{{LegislationDisplayID .BodyID .Legislation.ID}}</a>
      {{if and .Legislation.SameAs (.Body.UpperHouse) }}
      / <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a>
      {{end}}
    </div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes | markdown}}</div>
    {{end}}
    <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{range .DisplayTags}}
      <div class="tag {{.Class}}">{{.Tag}}</div>
      {{end}}
    </div>
  </div>
{{end}}
</div>

{{if .ArchivedBookmarks }}
<div class="row mt-5" id="show-archived">
  <h3>Archived</h3>
  <p><a href="" onclick="document.getElementById('archived').style.display='block'; document.getElementById('show-archived').style.display='none'; return false; ">See {{len .ArchivedBookmarks}} saved bills from past legislative sessions</a></p>
</div>
{{end}}
<div id="archived" style="display: none;">
  <div class="row mt-5">
    <h3>Archived</h3>
  </div>
  {{range .ArchivedBookmarks}}
  <div class="row bookmark" data-tags="{{JoinTags .DisplayTags}}">
    <div class="row1">
    <div class="legislation-id">
      {{if and .Legislation.SameAs (not .Body.UpperHouse) }}
      <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a> /
      {{end}}
      <a href="{{LegislationLink .BodyID .Legislation.ID}}">{{LegislationDisplayID .BodyID .Legislation.ID}}</a>
      {{if and .Legislation.SameAs (.Body.UpperHouse) }}
      / <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a>
      {{end}}
    </div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes | markdown}}</div>
    {{end}}
    <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{range .DisplayTags}}
      <div class="tag {{.Class}}">{{.Tag}}</div>
      {{end}}
    </div>
  </div>
{{end}}
</div>

{{end}}

{{define "javascript"}}
<script type="module">
  const qs = new URLSearchParams(window.location.search)
  const tags = new Set(qs.getAll("tag"))
  if (tags.size > 0) {
    Array.from(document.getElementsByClassName("bookmark")).forEach(element => {
      const eTags = (element.dataset.tags ? element.dataset.tags : "").split("|")
      const hasTag = eTags.find(t => tags.has(t))
      element.classList.toggle("hidden", !hasTag)
    });
  }
</script>
{{end}}
