{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.profile-name {
  border-bottom: 1px solid var(--brand);
}
.bookmark {
  border-top: 1px solid var(--brand-medium);
  margin-bottom: 1rem;
  padding-top: .5rem;
}
.legislation-id {
  display: inline-block;
}
.legislation-title {
  display: inline-block;
  font-weight: 600;
}
.legislation-id a:link {
  color: var(--brand-dark);
}
.legislation-id a:visited {
  color: var(--brand-dark-2);
}
.legislation-id a:hover {
  color: var(--brand-medium);
}
.tag {
  display: inline-block;
  font-size: .8rem;
  background-color: var(--brand-light-2);
  padding: 0 .5rem;
  color: var(--brand-dark-2);
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  border-left: solid 4px var(--grey-light-2);
}
</style>
{{end}}
{{define "middle"}}


<div class="row">
<h2 class="profile-name">{{.Profile.Name}}</h2>
</div>

<div class="row">
  <p>What <strong>Legislation</strong> do you <strong>Support</strong>?</p>
</div>

{{if .EditMode}}

<div class="row">
<form action="/data/profile" method="post">
  <input type="hidden" value="{{.Profile.ID}}" name="profile_id">
  <div class="mb-2 mt-2">
    <label for="legislation-url" class="form-label">URL of Legislation</label>

    <input type="url" class="form-control" name="legislation_url" id="legislation-url" aria-describedby="legislation-urlHelp" placeholder="https://city-council.gov/bill/A-1234" pattern="https?://.*">
    <div class="invalid-feedback">
      Supported URL's: intro.nyc, legistar.council.nyc.gov, www.nysenate.gov
    </div>
  </div>

<div class="form-floating mb-2">
  <textarea class="form-control" placeholder="" id="floatingNotes" name="notes" style="height: 4em;"></textarea>
  <label for="floatingNotes">Notes</label>
</div>

<div class="row g-3 align-items-center mb-2">
  <div class="col-auto">
    <label for="tags" class="col-form-label">Tags</label>
  </div>
  <div class="col-auto">
    <input type="text" id="tags" name="tags" class="form-control" aria-describedby="passwordTags">
  </div>
  <div class="col-auto">
    <span id="passwordTags" class="form-text">
      Space separated
    </span>
  </div>
</div>

  <div class="mb-5">
    Save:
    <button type="submit" name="support" value="👍" class="btn btn-primary">👍</button>
    <button type="submit" name="support" value="👎" class="btn btn-primary">👎</button>
  </div>

</form>
</div>
{{end}}

{{if (and (not .Bookmarks) (not .ArchivedBookmarks)) }}
<div class="row">
<p>No legislation</p>
</div>
{{end}}

{{range .Bookmarks}}
  <div class="row bookmark">
    <div class="row1">
    <div class="legislation-id"><a href="{{.Legislation.URL}}">{{.Legislation.DisplayID}}</a></div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes}}</div>
    {{end}}
    <div class="tags">
      <div class="body tag" title="{{.Body.Name}}">{{.Body.DisplayID}}</div>
      {{if .Legislation.Session}}
      <div class="session tag" >session:{{.Legislation.Session}}</div>
      {{end}}
      {{range .Tags}}
      <div class="tag">{{.}}</div>
      {{end}}
    </div>
  </div>
{{end}}

{{if .ArchivedBookmarks }}
<div class="row mt-5">
  <h3>Archived</h3>
  <p>Legislation from past sessions</p>
</div>
{{end}}
{{range .ArchivedBookmarks}}
  <div class="row bookmark">
    <div class="row1">
    <div class="legislation-id"><a href="{{.Legislation.URL}}">{{.Legislation.DisplayID}}</a></div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes}}</div>
    {{end}}
    <div class="tags">
      <div class="body tag" title="{{.Body.Name}}">{{.Body.DisplayID}}</div>
      {{if .Legislation.Session}}
      <div class="session tag" >session:{{.Legislation.Session}}</div>
      {{end}}
      {{range .Tags}}
      <div class="tag">{{.}}</div>
      {{end}}
    </div>
  </div>
{{end}}

{{end}}
