{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
body {
  background-color: var(--bs-gray-100);
}

.profile-name {
  border-bottom: 1px solid var(--brand);
}

.legislation-title {
  display: inline-block;
  font-weight: 600;
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  border-left: solid 4px var(--grey-light-2);
}
.notes p:last-child {
  margin-bottom: 0;
}

#edit-form .legislation-url {
  font-size:.75rem;
}
.edit-profile {
  color: var(--brand-dark);
  text-decoration: none;
  font-size:1rem;
}
.edit-profile:hover {
  color: var(--brand-medium);
}
.bookmark.hidden {
  display: none;
}

</style>
{{end}}
{{define "middle"}}

<div class="row">
<h2 class="profile-name">{{.Profile.Name}} <a href="#" class="edit-profile"><i class="bi bi-pencil-square"></i> edit</a></h2>
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Profiles</a></li>
    <li class="breadcrumb-item active" aria-current="page">Legislation</li>
  </ol>
</nav>

{{ if .Profile.Description }}
  <div class="profile-description"><a href="#" class="edit-profile float-end"><i class="bi bi-pencil-square"></i></a>{{.Profile.Description | markdown}}</div>
{{ end }}
</div>


<div class="row" id="message-success" style="display: none;">
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check2-circle text-success"></i>
    <div class="ms-1" id="message-success-body"></div>
  </div>
</div>

<div class="row" id="message-error" style="display: none;">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-check2-circle text-danger"></i>
    <div class="ms-1" id="message-error-body"></div>
  </div>
</div>


{{ if .Message.Error }}
<div class="row" id="message-error-temp">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-check2-circle text-danger"></i>
    <div>{{.Message.Error}}</div>
  </div>
</div>
<script type="module">
  setTimeout(() => {
  document.getElementById("message-error-temp").remove()
}, 1000 * 10);
</script>
{{end }}

<div class="row">

<div class="col-12 col-md-8 mb-5 mt-2">
<div class="card px-2 py-1">
<form action="/data/profile" method="post" id="add-form">
  <input type="hidden" value="{{.Profile.ID}}" name="profile_id">
  <div class="mb-2 mt-2">
    <span><strong>Add Legislation</strong></span>
  </div>
    <div class="mb-2 mt-2">
    <div class="input-group">
      <span class="input-group-text">URL</span>
      <input type="url" class="form-control" name="legislation_url" id="legislation-url" aria-describedby="legislation-urlHelp" placeholder="https://city-council.gov/bill/A-1234" pattern="https?://.*">
    </div>
    <div class="invalid-feedback">
      Supported URL's: {{ Join .SupportedDomains ", " }}
    </div>
    <div class="form-text" id="legislation-urlHelp">Supported URL's: {{ Join .SupportedDomains ", " }}</div>
  </div>

<div class="form-floating mb-2" id="notes-row" style="display:none;">
  <textarea class="form-control" placeholder="" id="floatingNotes" name="notes" style="height: 4em;"></textarea>
  <label for="floatingNotes">Notes</label>
</div>

<div class="row g-3 align-items-center mb-2" id="tag-row" style="display:none;">
  <div class="col-auto">
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-tag" alt="Tags"></i></span>
    <input type="text" id="tags" name="tags" class="form-control" aria-describedby="tags">
  </div>
  </div>
  <div class="col-auto">
    <span id="passwordTags" class="form-text">
      Space separated tags
    </span>
  </div>
</div>

  <div class="mb-1">
    Save:
    <button type="submit" name="support" value="👍" class="btn btn-primary" id="add-support">👍</button>
    <button type="submit" name="support" value="👎" class="btn btn-primary" id="add-oppose">👎</button>
  </div>

</form>
</div>
</div>
</div>

<div class="bookmarks">

{{if (and (not .Bookmarks) (not .ArchivedBookmarks)) }}
  <div class="row">
  <p>No legislation</p>
  </div>
{{end}}

{{if .Bookmarks}}



{{if ge (len .Bookmarks.Bodies) 1}}
  <div class="float-end">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-card-checklist"></i> View Scorecard
      </button>
      <ul class="dropdown-menu">
        {{range .Bookmarks.Bodies}}
        {{with $B := (. | LookupBody)}}
          <li><a class="dropdown-item" href="/{{$.Profile.ID}}/scorecard/{{.ID}}">{{.Name}}</a></li>
        {{end}}
        {{end}}
      </ul>
    </div>
  </div>
{{end}}

<div class="float-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-sliders2"></i> Tag Filter
    </button>
    <ul class="dropdown-menu">
      {{range .Bookmarks.DisplayTags}}
        <li><a class="dropdown-item" href="/{{$.Profile.ID}}?tag={{.Tag}}">{{.Tag}}</a></li>
      {{end}}
    </ul>
  </div>
</div>

<div class="float-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-sm ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-bell-fill"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/{{$.Profile.ID}}/changes">Sponsor Changes</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-12">
  {{if .Bookmarks.CountSupported}}{{.Bookmarks.CountSupported}} supported bills {{end}}
    {{if ne .Bookmarks.CountSupported (len .Bookmarks)}}and{{end}} 
    {{if .Bookmarks.CountOpposed}}{{.Bookmarks.CountOpposed}} opposed bills {{end}}
     in current legislative sessions.
  </div>
</div>

{{end}}

{{if .SelectedTag }}
<div class="row">
  <div class="col-10 col-md-7 col-lg-4">
  <div class="alert alert-secondary p-2" role="alert">
    <i class="bi bi-tags-fill"></i> Filtered to Tag: <strong>{{.SelectedTag}}</strong> 
    <a href="{{.Profile.Link}}" class="alert-link float-end"><i class="bi bi-x-circle-fill"></i> Clear Filter</a>
  </div>
  </div>
</div>
{{end}}


{{range .Bookmarks}}
  <div class="row bookmark" data-tags="{{JoinTags .DisplayTags}}">
    <div class="row1">
    <div class="edit-bookmark float-end"><a href="#" class="edit" data-legislationid="{{.LegislationID}}" data-bodyid="{{.BodyID}}"><i class="bi bi-pencil-square"></i> edit</a></div>
    <div class="legislation-id">
      {{if and .Legislation.SameAs (not .Body.UpperHouse) }}
      <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a> /
      {{end}}
      <a href="{{LegislationLink .BodyID .Legislation.ID}}">{{LegislationDisplayID .BodyID .Legislation.ID}}</a>
      {{if and .Legislation.SameAs (.Body.UpperHouse) }}
      / <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a>
      {{end}}
    </div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes | markdown}}</div>
    {{end}}
    <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{range .DisplayTags}}
      <div class="tag {{.Class}}">{{.Tag}}</div>
      {{end}}
    </div>
  </div>
{{end}}

{{if .ArchivedBookmarks }}
<div class="row mt-5" id="show-archived">
  <h3>Past Sessions</h3>
  <p><a href="" >See {{len .ArchivedBookmarks}} saved bills from past legislative sessions</a></p>
</div>
{{end}}

<div id="archived" style="display: none;">
  <div class="row mt-5">
    <h3>Past Sessions</h3>
  </div>

  {{range .ArchivedBookmarks}}
  <div class="row bookmark" data-tags="{{JoinTags .DisplayTags}}">
    <div class="row1">
      <div class="edit-bookmark float-end"><a href="#" class="edit" data-legislationid="{{.LegislationID}}" data-bodyid="{{.BodyID}}"><i class="bi bi-pencil-square"></i> edit</a></div>
      <div class="legislation-id">
      {{if and .Legislation.SameAs (not .Body.UpperHouse) }}
      <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a> /
      {{end}}
      <a href="{{LegislationLink .BodyID .Legislation.ID}}">{{LegislationDisplayID .BodyID .Legislation.ID}}</a>
      {{if and .Legislation.SameAs (.Body.UpperHouse) }}
      / <a href="{{LegislationLink .BodyID .Legislation.SameAs}}">{{LegislationDisplayID .BodyID .Legislation.SameAs}}</a>
      {{end}}
    </div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes | markdown}}</div>
    {{end}}
    <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{range .DisplayTags}}
      <div class="tag {{.Class}}">{{.Tag}}</div>
      {{end}}
    </div>
  </div>
  {{end}}
</div> 

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Edit</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <form id="profile-form" action="/data/profile" method="post" novalidate class="needs-validation">
      <input type="hidden" name="profile_id" value="{{.Profile.ID}}">

      <div class="form-floating mt-2 mb-1">
        <input type="text" name="name" class="form-control" id="profile-name" value="{{.Profile.Name}}" required maxlength="128">
        <label>Profile Name</label>
      </div>

      <div class="form-floating mt-2 mb-1">
        <textarea class="form-control" name="description" style="height: 8em;" maxlength="4096">{{.Profile.Description}}</textarea>
        <label>Description</label>
        <div id="descriptionHelp" class="form-text">Markdown OK</div>
      </div>

      <div class="form-floating mt-2 mb-1">
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend">URL</span>
          <input type="text" class="form-control " name="new_url" id="new_url" placeholder="{{.Profile.ID}}" autocomplete="off">
        </div>
        <div class="form-text preview">Available at <code>https://legislation.support/<span id="preview-new-url">{{.Profile.ID}}</span></code></div>
      </div>

      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-private" name="private" value="on" {{if .Profile.Private}}checked{{end}}>
        <label class="form-check-label" for="edit-private"><i class="bi bi-lock-fill"></i> Private Mode</label>
      </div>

      <div class="mt-3"><strong>Scorecard Options</strong></div>

      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-district" name="hide_district" value="on" {{if .Profile.HideDistrict}}checked{{end}}>
        <label class="form-check-label" for="edit-district">Hide District</label>
      </div>

      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-bill-status" name="hide_bill_status" value="on" {{if .Profile.HideBillStatus}}checked{{end}}>
        <label class="form-check-label" for="edit-bill-status">Hide Bill Status Header</label>
      </div>
      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-support-oppose" name="hide_support_oppose" value="on" {{if .Profile.HideSupportOppose}}checked{{end}}>
        <label class="form-check-label" for="edit-support-oppose">Hide Support/Oppose Header</label>
      </div>
      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-party" name="hide_party" value="on" {{if .Profile.HideParty}}checked{{end}}>
        <label class="form-check-label" for="edit-party">Hide Party</label>
      </div>


      <div class="mb-1 mt-3 text-bg-light p-3 text-end">
        <button type="submit" name="submit" value="save" class="btn btn-primary" id="profile-save">Save</button>
      </div>
  
    </form>

    <form id="edit-form" action="/data/profile" method="post" novalidate class="needs-validation">
      <input type="hidden" name="body_id">
      <input type="hidden" name="legislation_id">
      <input type="hidden" name="legislation_url">
      <input type="hidden" name="profile_id" value="{{.Profile.ID}}">

      <div class="legislation-id"><a href=""></a></div>
      <div class="legislation-title"></div>
      <div class="legislation-url mt-1"><a href=""></a></div>

        
    <div class="form-floating mt-2 mb-2">
      <textarea class="form-control" placeholder="" name="notes" style="height: 4em;"></textarea>
      <label>Notes</label>
    </div>
    
    <div class="row g-3 align-items-center mb-2">
      <div class="col-auto">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-tag" alt="Tags"></i></span>
        <input type="text" name="tags" class="form-control" aria-describedby="tags">
      </div>
      </div>
      <div class="col-auto">
        <span id="passwordTags" class="form-text">
          Space separated tags
        </span>
      </div>
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="edit-oppose" name="support" value="👎">
      <label class="form-check-label" for="edit-oppose">Oppose Legislation</label>
    </div>    
    
    <div class="mb-1 mt-3 text-bg-light p-3 text-end">
      <button type="button" name="submit" value="remove" class="btn btn-danger" id="edit-remove">Remove</button>
      <button type="submit" name="submit" value="save" class="btn btn-primary" id="edit-save">Save</button>
    </div>
  
  </form>




  </div>
</div>
{{end}}


{{ define "javascript" }}
<script type="module">
function slugify(text){
  return text.toString().toLowerCase()
    .replace(/\s+/g, '-')           // Replace spaces with -
    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
    .replace(/^-+/, '')             // Trim - from start of text
    .replace(/-+$/, '');            // Trim - from end of text
}

function isValidUrl( urlString ) {
      try { 
      	return Boolean(new URL(urlString)); 
      }
      catch(e){ 
      	return false; 
      }
  }
  const a = {{.Bookmarks}}
  a.push(...{{.ArchivedBookmarks }})
  const bookmarks = new Map(a.map(d => [d.BodyID + d.LegislationID, d]))
  const legislationUrlEl = document.getElementById('legislation-url');
  legislationUrlEl.addEventListener("change", _ => {
    if (isValidUrl(legislationUrlEl.value)) {
      document.getElementById('tag-row').style.display=''
      document.getElementById('notes-row').style.display=''
      document.getElementById('legislation-urlHelp').style.display='none'
    }
  })
  legislationUrlEl.addEventListener("input", _ => {
    if (isValidUrl(legislationUrlEl.value)) {
      document.getElementById('tag-row').style.display=''
      document.getElementById('notes-row').style.display=''
      document.getElementById('legislation-urlHelp').style.display='none'
    }
  })

// Loop over them and prevent submission
Array.from(document.querySelectorAll('.needs-validation')).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })

  const bsOffcanvas = new bootstrap.Offcanvas('#offcanvasRight')

  const editProfileLinks = document.querySelectorAll("a.edit-profile")
  const editProfileLinksEl = [...editProfileLinks].forEach(el => {
    el.addEventListener("click", event => {
      event.preventDefault()
      document.getElementById('edit-form').style.display = 'none'
      bsOffcanvas.show()
      const editForm = document.getElementById('profile-form')
      editForm.style.display = ''
    })
  })
  

  const editLinks = document.querySelectorAll("a.edit")
  const editLinksEl = [...editLinks].forEach(el => {
    el.addEventListener("click", event => {
      event.preventDefault()
      document.getElementById('profile-form').style.display = 'none'
      bsOffcanvas.show()
      const b = bookmarks.get(event.target.dataset.bodyid + event.target.dataset.legislationid);
      // console.log(b);
      const editForm = document.getElementById('edit-form')
      editForm.style.display = ''
      editForm.querySelectorAll('input[name="body_id"]')[0].value = b.BodyID;
      editForm.querySelectorAll('input[name="legislation_id"]')[0].value = b.LegislationID;
      editForm.querySelectorAll('input[name="legislation_url"]')[0].value = b.Legislation.URL;
      editForm.querySelectorAll('.legislation-id>a')[0].textContent = b.Legislation.DisplayID;
      editForm.querySelectorAll('.legislation-id>a')[0].href = b.Legislation.URL;
      editForm.querySelectorAll('.legislation-title')[0].textContent = b.Legislation.Title;
      editForm.querySelectorAll('.legislation-url>a')[0].textContent = b.Legislation.URL;
      editForm.querySelectorAll('.legislation-url>a')[0].href = b.Legislation.URL;
      editForm.querySelectorAll('textarea')[0].value = b.Notes? b.Notes : "";
      editForm.querySelectorAll('input[name="tags"]')[0].value = b.Tags === null ? "": b.Tags.join(' ');
      editForm.querySelectorAll('input[name="support"]')[0].checked = b.Oppose;
    })
  })


Array.from([
  document.getElementById('add-support'),
  document.getElementById('add-oppose')
]).forEach(button => {
  button.addEventListener("click", _ => {
    event.preventDefault()
    const addForm = document.getElementById('add-form')
    const formData = new FormData(addForm);
    formData.set('support', button.value)

    fetch("/data/profile", {
      method:"POST",
      body: formData,
      redirect: "manual"
    }) 
    .then(response => response.json())
    .then(data => {
      // console.log(data);
      if (data?.success) {
        localStorage.setItem('message-success', data.success)
      }
      if (data?.error) {
        localStorage.setItem('message-error', data.error)
      }
      document.location.reload()
    })
  })
})


document.getElementById('edit-remove').addEventListener("click", _ => {
  event.preventDefault()
  const editForm = document.getElementById('edit-form')
  const formData = new FormData();
  formData.append('body_id', editForm.elements["body_id"].value);
  formData.append('legislation_id',  editForm.elements["legislation_id"].value);
  formData.append('profile_id', editForm.elements["profile_id"].value);

  fetch("/data/profile", {
    method:"DELETE",
    body: formData,
    redirect: "manual"
    // body: JSON.stringify({
    //   editForm.elements["body-id"]
    // }),
  }) // .then(response => console.log(response.json()))
  .then(_ => {document.location.reload()})

})


document.getElementById('edit-save').addEventListener("click", _ => {
  event.preventDefault()
  const editForm = document.getElementById('edit-form')
  const formData = new FormData(editForm);

  fetch("/data/profile", {
    method:"POST",
    body: formData,
    redirect: "manual"
  }) 
  .then(response => console.log(response.json()))
  .then(data => {
    if (data?.success) {
      alert(data.success)
    }
    document.location.reload()
  })

})

document.getElementById('profile-save').addEventListener("click", _ => {
  event.preventDefault()
  const editForm = document.getElementById('profile-form')
  const formData = new FormData(editForm);

  fetch("/data/profile", {
    method:"POST",
    body: formData,
    redirect: "manual"
  }) 
  .then(response => console.log(response.json()))
  .then(data => {
    if (data?.success) {
      alert(data.success)
    }
    document.location.reload()
  })
})

function showArchived(showHide, updateURL) {
  if (showHide) {
    document.getElementById('archived').style.display='block';
    document.getElementById('show-archived').style.display='none';
  } else {
    document.getElementById('archived').style.display='none';
    document.getElementById('show-archived').style.display='block';
  }
  
  if (updateURL) {
    const q = new URLSearchParams(window.location.search)
    if (showHide) {
      q.set('past_sessions', 'Y')
    } else {
      q.delete('past_sessions')
    }
    let p = window.location.pathname
    if (qr.toString() !== "") {
      p += "?" + q.toString()
    }
    history.pushState({}, '', p);
  }
}

document.querySelector("#show-archived a").addEventListener("click", event => {
  event.preventDefault()
  showArchived(true, true)
})


const qs = new URLSearchParams(window.location.search)
const tags = new Set(qs.getAll("tag"))
if (tags.size > 0) {
  Array.from(document.getElementsByClassName("bookmark")).forEach(element => {
    const eTags = (element.dataset.tags ? element.dataset.tags : "").split("|")
    const hasTag = eTags.find(t => tags.has(t))
    element.classList.toggle("hidden", !hasTag)
  });
}

showArchived(qs.get("past_sessions") == "Y", false)


const messageSuccess = localStorage.getItem('message-success')
if (messageSuccess) {
  document.getElementById('message-success').style.display = ''
  document.getElementById('message-success-body').textContent = messageSuccess
  localStorage.removeItem('message-success')
  setTimeout(() => {
    document.getElementById("message-success").remove()
  }, 1000 * 10)
}

const messageError = localStorage.getItem('message-error')
if (messageError) {
  document.getElementById('message-error').style.display = ''
  document.getElementById('message-error-body').textContent = messageError
  localStorage.removeItem('message-error')
  setTimeout(() => {
    document.getElementById("message-error").remove()
  }, 1000 * 10)
}

function on_new_url_update() {
  var urlEl = document.getElementById('new_url');
  var p = urlEl.value;
  if (p === "" )  { p = urlEl.placeholder }
  var slug = slugify(p);
  document.getElementById('preview-new-url').textContent = slug;
}
document.getElementById('new_url').addEventListener("change", on_new_url_update)
document.getElementById('new_url').addEventListener("input", on_new_url_update)

</script>


</script>
{{end}}

