{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.profile-name {
  border-bottom: 1px solid var(--brand);
}
.bookmark {
  border-top: 1px solid var(--brand);
  margin-bottom: 1rem;
}
.legislation-id {
  display: inline-block;
}
.legislation-title {
  display: inline-block;
  font-weight: 600;
}
</style>
{{end}}
{{define "middle"}}


<div class="row">
<h2 class="profile-name">{{.Profile.Name}}</h2>
</div>

<div class="row">
  <p>What <strong>Legislation</strong> do you <strong>Support</strong>?</p>
</div>

{{if .EditMode}}

<div class="row">
<form action="" method="post">
  <div class="mb-2 mt-2">
    <label for="legislation-url" class="form-label">URL of Legislation</label>

    <input type="url" class="form-control" name="legislation_url" id="legislation-url" aria-describedby="legislation-urlHelp" placeholder="https://your-legislator.com/bill/A-1234" pattern="https?://(intro.nyc|legistar.council.nyc.gov|www.nysenate.gov)/.*">
    <div class="invalid-feedback">
      That URL isn't yet supported.
    </div>
  </div>

<div class="form-floating mb-2">
  <textarea class="form-control" placeholder="" id="floatingNotes" name="notes" style="height: 4em;"></textarea>
  <label for="floatingNotes">Notes</label>
</div>

<div class="row g-3 align-items-center mb-2">
  <div class="col-auto">
    <label for="tags" class="col-form-label">Tags</label>
  </div>
  <div class="col-auto">
    <input type="text" id="tags" name="tags" class="form-control" aria-describedby="passwordTags">
  </div>
  <div class="col-auto">
    <span id="passwordTags" class="form-text">
      Space separated
    </span>
  </div>
</div>

  <div class="mb-5">
    Save:
    <button type="submit" name="support" value="👍" class="btn btn-primary">👍</button>
    <button type="submit" name="support" value="👎" class="btn btn-primary">👎</button>
  </div>

</form>
</div>
{{end}}

{{if not .Bookmarks}}
<div class="row">
<p>No legislation</p>
</div>
{{end}}

{{range .Bookmarks}}
  <div class="row bookmark">
    <div class="row1">
    <div class="legislation-id"><a href="{{.Legislation.URL}}">{{.Legislation.DisplayID}}</a></div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    <div class="body">{{.BodyID}}</div>
  </div>
{{end}}

{{end}}
