{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
body {
  background-color: var(--bs-gray-100);
}

.profile-name {
  border-bottom: 1px solid var(--brand);
}

.legislation-id {
  display: inline-block;
}
.legislation-title {
  display: inline-block;
  font-weight: 600;
}
.legislation-id a:link {
  color: var(--brand-dark);
}
.legislation-id a:visited {
  color: var(--brand-dark-2);
}
.legislation-id a:hover {
  color: var(--brand-medium);
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  border-left: solid 4px var(--grey-light-2);
}
#edit-form .legislation-url {
  font-size:.75rem;
}
.edit-profile {
  color: var(--brand-dark);
  text-decoration: none;
  font-size:1rem;
}
.edit-profile:hover {
  color: var(--brand-medium);
}
</style>
{{end}}
{{define "middle"}}

<div class="row">
<h2 class="profile-name">{{.Profile.Name}} <a href="#" class="edit-profile"><i class="bi bi-pencil-square"></i>
</a></h2>
{{ if .Profile.Description }}
  <div class="profile-description"><a href="#" class="edit-profile float-end"><i class="bi bi-pencil-square"></i></a>{{.Profile.Description | markdown}}</div>
{{ end }}
</div>

<!-- <div class="row">
  <p>What <strong>Legislation</strong> do you <strong>Support</strong>?</p>
</div> -->

<div class="row">

<div class="col-12 col-md-8 mb-5 mt-2">
<div class="card px-2 py-1">
<form action="/data/profile" method="post">
  <input type="hidden" value="{{.Profile.ID}}" name="profile_id">
  <div class="mb-2 mt-2">
    <span><strong>Add Legislation</strong></span>
  </div>
    <div class="mb-2 mt-2">
    <div class="input-group">
      <span class="input-group-text">URL</span>
      <input type="url" class="form-control" name="legislation_url" id="legislation-url" aria-describedby="legislation-urlHelp" placeholder="https://city-council.gov/bill/A-1234" pattern="https?://.*">
    </div>
    <div class="invalid-feedback">
      Supported URL's: intro.nyc, legistar.council.nyc.gov, www.nysenate.gov
    </div>
  </div>

<div class="form-floating mb-2" id="notes-row" style="display:none;">
  <textarea class="form-control" placeholder="" id="floatingNotes" name="notes" style="height: 4em;"></textarea>
  <label for="floatingNotes">Notes</label>
</div>

<div class="row g-3 align-items-center mb-2" id="tag-row" style="display:none;">
  <div class="col-auto">
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-tag" alt="Tags"></i></span>
    <input type="text" id="tags" name="tags" class="form-control" aria-describedby="tags">
  </div>
  </div>
  <div class="col-auto">
    <span id="passwordTags" class="form-text">
      Space separated tags
    </span>
  </div>
</div>

  <div class="mb-1">
    Save:
    <button type="submit" name="support" value="👍" class="btn btn-primary">👍</button>
    <button type="submit" name="support" value="👎" class="btn btn-primary">👎</button>
  </div>

</form>
</div>
</div>
</div>

<div class="bookmarks">

{{if (and (not .Bookmarks) (not .ArchivedBookmarks)) }}
  <div class="row">
  <p>No legislation</p>
  </div>
{{end}}

{{if .Bookmarks}}

{{if ge (len .Bookmarks.Bodies) 1}}
  <div class="float-end">
    Scorecard: {{range $i, $b := .Bookmarks.Bodies}}{{if ge $i 1}},{{end}} <a href="/{{$.Profile.ID}}/scorecard/{{.}}">{{.}}</a>{{end}}
  </div>
{{end}}

<div class="row">
  <p>{{if .Bookmarks.CountSupported}}{{.Bookmarks.CountSupported}} supported bills {{end}}
    {{if ne .Bookmarks.CountSupported (len .Bookmarks)}}and{{end}} 
    {{if .Bookmarks.CountOpposed}}{{.Bookmarks.CountOpposed}} opposed bills {{end}}
     in current legislative sessions.</p>
</div>
{{end}}


{{range .Bookmarks}}
  <div class="row bookmark">
    <div class="row1">
    <div class="edit-bookmark float-end"><a href="#" class="edit" data-legislationid="{{.LegislationID}}" data-bodyid="{{.BodyID}}">edit</a></div>
    <div class="legislation-id"><a href="{{.Legislation.URL}}">{{.Legislation.DisplayID}}</a></div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes}}</div>
    {{end}}
    <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{if .Oppose}}
      <div class="oppose tag">Oppose</div>
      {{end}}
      <div class="body tag" title="{{.Body.Name}}">{{.Body.DisplayID}}</div>
      {{if .Legislation.Session}}
      <div class="session tag" >session:{{.Legislation.Session}}</div>
      {{end}}
      {{range .Tags}}
      <div class="tag">{{.}}</div>
      {{end}}
    </div>
  </div>
{{end}}

{{if .ArchivedBookmarks }}
<div class="row mt-5" id="show-archived">
  <h3>Archived</h3>
  <p><a href="" onclick="document.getElementById('archived').style.display='block'; document.getElementById('show-archived').style.display='none'; return false; ">See {{len .ArchivedBookmarks}} saved bills from past legislative sessions</a></p>
</div>
{{end}}
<div id="archived" style="display: none;">
  <div class="row mt-5">
    <h3>Archived</h3>
  </div>
  {{range .ArchivedBookmarks}}
  <div class="row bookmark">
    <div class="row1">
    <div class="legislation-id"><a href="{{.Legislation.URL}}">{{.Legislation.DisplayID}}</a></div>
    <div class="legislation-title">{{.Legislation.Title}}</div>
    </div>
    {{if .Notes}}
    <div class="notes">{{.Notes}}</div>
    {{end}}
    <div class="tags">
      <i class="bi bi-tag" alt="Tags"></i>
      {{if .Oppose}}
      <div class="oppose tag">Oppose</div>
      {{end}}
      <div class="body tag" title="{{.Body.Name}}">{{.Body.DisplayID}}</div>
      {{if .Legislation.Session}}
      <div class="session tag" >session:{{.Legislation.Session}}</div>
      {{end}}
      {{range .Tags}}
      <div class="tag">{{.}}</div>
      {{end}}
    </div>
  </div>
{{end}}
</div> 

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Edit</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <form id="edit-profile" action="/data/profile" method="post" novalidate class="needs-validation">
      <input type="hidden" name="profile_id" value="{{.Profile.ID}}">

      <div class="form-floating mt-2 mb-1">
        <input type="text" name="name" class="form-control" id="profile-name" value="{{.Profile.Name}}" required maxlength="128">
        <label>Profile Name</label>
      </div>

      <div class="form-floating mt-2 mb-1">
        <textarea class="form-control" name="description" style="height: 8em;" maxlength="4096">{{.Profile.Description}}</textarea>
        <label>Description</label>
      </div>

      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-private" name="private" value="on" {{if .Profile.Private}}checked{{end}}>
        <label class="form-check-label" for="edit-oppose">Private</label>
      </div>

      <h4>Scorecard Options</h4>

      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-district" name="hide_district" value="on" {{if .Profile.HideDistrict}}checked{{end}}>
        <label class="form-check-label" for="edit-district">Hide District</label>
      </div>

      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-bill-status" name="hide_bill_status" value="on" {{if .Profile.HideBillStatus}}checked{{end}}>
        <label class="form-check-label" for="edit-bill-status">Hide Bill Status Header</label>
      </div>
      <div class="form-check form-switch mt-2 mb-1">
        <input class="form-check-input" type="checkbox" role="switch" id="edit-support-oppose" name="hide_support_oppose" value="on" {{if .Profile.HideSupportOppose}}checked{{end}}>
        <label class="form-check-label" for="edit-support-oppose">Hide Support/Oppose Header</label>
      </div>


      <div class="mb-1 mt-3 text-bg-light p-3 text-end">
        <button type="submit" name="submit" value="save" class="btn btn-primary">Save</button>
      </div>
  
    </form>

    <form id="edit-form" action="/data/profile" method="post" novalidate class="needs-validation">
      <input type="hidden" name="body_id">
      <input type="hidden" name="legislation_id">
      <input type="hidden" name="legislation_url">
      <input type="hidden" name="profile_id" value="{{.Profile.ID}}">

      <div class="legislation-id"><a href=""></a></div>
      <div class="legislation-title"></div>
      <div class="legislation-url mt-1"><a href=""></a></div>

        
    <div class="form-floating mt-2 mb-2">
      <textarea class="form-control" placeholder="" name="notes" style="height: 4em;"></textarea>
      <label>Notes</label>
    </div>
    
    <div class="row g-3 align-items-center mb-2">
      <div class="col-auto">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-tag" alt="Tags"></i></span>
        <input type="text" name="tags" class="form-control" aria-describedby="tags">
      </div>
      </div>
      <div class="col-auto">
        <span id="passwordTags" class="form-text">
          Space separated tags
        </span>
      </div>
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="edit-oppose" name="support" value="👎">
      <label class="form-check-label" for="edit-oppose">Oppose Legislation</label>
    </div>    
    
    <div class="mb-1 mt-3 text-bg-light p-3 text-end">
      <button type="button" name="submit" value="remove" class="btn btn-danger" id="edit-remove">Remove</button>
      <button type="submit" name="submit" value="save" class="btn btn-primary">Save</button>
    </div>
  
  </form>




  </div>
</div>
{{end}}


{{ define "javascript" }}
<script type="module">
  const bookmarks = new Map({{.Bookmarks}}.map(d => [d.BodyID + d.LegislationID, d]))

  document.getElementById('legislation-url').addEventListener("change", _ => {
    document.getElementById('tag-row').style.display=''
    document.getElementById('notes-row').style.display=''
  })
  document.getElementById('legislation-url').addEventListener("input", _ => {
    document.getElementById('tag-row').style.display=''
    document.getElementById('notes-row').style.display=''
  })

// Loop over them and prevent submission
Array.from(document.querySelectorAll('.needs-validation')).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })

  const bsOffcanvas = new bootstrap.Offcanvas('#offcanvasRight')

  const editProfileLinks = document.querySelectorAll("a.edit-profile")
 const editProfileLinksEl = [...editProfileLinks].forEach(el => {
    el.addEventListener("click", event => {
      event.preventDefault()
      document.getElementById('edit-form').style.display = 'none'
      bsOffcanvas.show()
      const editForm = document.getElementById('edit-profile')
      editForm.style.display = ''
    })
  })
  

  const editLinks = document.querySelectorAll("a.edit")
  const editLinksEl = [...editLinks].forEach(el => {
    el.addEventListener("click", event => {
      event.preventDefault()
      document.getElementById('edit-profile').style.display = 'none'
      bsOffcanvas.show()
      const b = bookmarks.get(event.target.dataset.bodyid + event.target.dataset.legislationid);
      // console.log(b);
      const editForm = document.getElementById('edit-form')
      editForm.style.display = ''
      editForm.querySelectorAll('input[name="body_id"]')[0].value = b.BodyID;
      editForm.querySelectorAll('input[name="legislation_id"]')[0].value = b.LegislationID;
      editForm.querySelectorAll('input[name="legislation_url"]')[0].value = b.Legislation.URL;
      editForm.querySelectorAll('.legislation-id>a')[0].textContent = b.Legislation.DisplayID;
      editForm.querySelectorAll('.legislation-id>a')[0].href = b.Legislation.URL;
      editForm.querySelectorAll('.legislation-title')[0].textContent = b.Legislation.Title;
      editForm.querySelectorAll('.legislation-url>a')[0].textContent = b.Legislation.URL;
      editForm.querySelectorAll('.legislation-url>a')[0].href = b.Legislation.URL;
      editForm.querySelectorAll('textarea')[0].value = b.Notes;
      editForm.querySelectorAll('input[name="tags"]')[0].value = b.Tags === null ? "": b.Tags.join(' ');
      editForm.querySelectorAll('input[name="support"]')[0].checked = b.Oppose;
    })
  })


document.getElementById('edit-remove').addEventListener("click", _ => {
  event.preventDefault()
  const editForm = document.getElementById('edit-form')
  const formData = new FormData();
  formData.append('body_id', editForm.elements["body_id"].value);
  formData.append('legislation_id',  editForm.elements["legislation_id"].value);
  formData.append('profile_id', editForm.elements["profile_id"].value);

  fetch("/data/profile", {
    method:"DELETE",
    body: formData,
    redirect: "manual"
    // body: JSON.stringify({
    //   editForm.elements["body-id"]
    // }),
  }) // .then(response => console.log(response.json()))
  .then(_ => {document.location.reload()})

})

</script>
{{end}}

