{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css" integrity="sha512-2C6AmJKgt4B+bQc08/TwUeFKkq8CsBNlTaNcNgUmsDJSU1Fg+R6azDbho+ZzuxEkJnCjLZQMozSq3y97ZmgwjA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.profile-name {
  border-bottom: 1px solid var(--brand);
}
.bookmark {
  border-top: 1px solid var(--brand-medium);
  margin-bottom: 1rem;
  padding-top: .5rem;
}
th.legislation-id {
  display: table-cell;
}
.legislation-title {
  /* display: inline-block; */
  /* font-weight: 600; */
}
.tag {
  display: inline-block;
  font-size: .8rem;
  background-color: var(--brand-light-2);
  padding: 0 .5rem;
  color: var(--brand-dark-2);
}
.notes {
  font-size: .8rem;
  color: var(--grey-dark);
  border-left: solid 4px var(--grey-light-2);
}

th > .legislation-title {
    font-size: 10px;
    line-height: 10px;
    font-weight: 200;
    font-family: Georgia, "New York", "Times New Roman", Times, serif;
}
.percent-correct {
  text-align: center;
  /* font-size:11px; */
  /* font-weight: 700; */
  font-size: .8rem;
  font-weight: bold;
}
.whip-correct, .whip-incorrect {
  display:block;
  text-align: left;
}
.person-scorecard {
  display: flex;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width:350px;
  border:1px solid #ccc;
  border-radius: 5px;
}
.full-name {
  font-size: 1.2rem;
  font-weight: 600;
}
.rank-summary {
  width:60px;
  display:inline-block
}
.rank {
  font-size: 1.2rem;
  font-weight: 800;
  font-family:'Times New Roman', Times, serif;
}
.whipcount {
  font-size:.8rem;
}
</style>
{{end}}
{{define "middle"}}


<div class="row">
<h2 class="profile-name">{{.Profile.Name}}</h2>

<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{.Profile.Link}}">Legislation</a></li>
    <li class="breadcrumb-item">Scorecards</li>
    <li class="breadcrumb-item active" aria-current="page">{{.Body.Name}}</li>
  </ol>
</nav>

{{ if .Profile.Description }}
  <div class="profile-description">{{.Profile.Description | markdown}}</div>
{{ end }}
</div>


{{if not .Scorecard.Data }}
<div class="row">
<p>No legislation</p>
</div>
{{end}}

{{with $S := .Scorecard }}
<div class="row m-3">


{{range $i, $p := $.PersonWhipCounts}} 
<div class="person-scorecard">
  <div class="rank-summary">
    <div class="rank"># {{add $i 1}}</div>
    {{if $p.Correct}}
      <div class="whipcount whip-correct">
        👍 {{$p.Correct}}
      </div>
    {{end}}
    {{if $p.Incorrect}}
      <div class="whipcount whip-incorrect">
        👎 {{$p.Incorrect}}
      </div>
    {{end}}
  </div>
  <div class="rank-details">
    <div class="full-name">{{$p.FullName}} {{if $p.Party }}({{$p.Party}}) {{end}} </div>
    {{ if not $.Profile.HideDistrict }}<div class="district">District {{$p.District}}</div>{{end}}

  </div>
</div>
{{end}}


</div>
{{ end }}

</div>

{{end}}

{{define "javascript"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module">
import {scaleLinear} from "https://cdn.skypack.dev/d3-scale@4";

// const color1 = scaleLinear().domain([0,100]).range(["#f9f7fb", "#9996c6"]) // purple
const color1 = scaleLinear().domain([0,100]).range(["#ffeeff", "#ff00ff"]) // purple
Array.from(document.getElementsByClassName("percent-correct")).forEach(e => {
  e.style.backgroundColor = color1(parseFloat(e.dataset.percent))
});
</script>

{{end}}